<!-- frontend/src/app/app.component.html -->
<p-card header="Send a message to the server">
  <form (ngSubmit)="sendMessage(message); message = ''">
    <input
      [(ngModel)]="message"
      name="message"
      type="text"
      autocomplete="off"
      pInputText
    />

    <p-button type="submit" label="Send" style="margin-left: 5px"></p-button>
  </form>
  <h3>Received messages from the server:</h3>
  <ul>
    <li *ngFor="let data of wsService.receivedData">
      {{ data.time }}: {{ data.message }}
    </li>
  </ul>
</p-card>
