<div class="voice-recorder-wrap">
  <ng-container *ngIf="!isRecorder">
    <div class="recorder-box">
      <button class="mic-btn" id="button" (click)="startRecorder()">
        <i class="pi pi-microphone"></i>
      </button>
    </div>
    <div class="recorder-text">Click the mic to start recording.</div>
  </ng-container>
  <ng-container *ngIf="isRecorder">
    <div class="recorder-box">
      <button class="mic-btn mic-ani" id="button" (click)="stopRecorder()">
        <i class="pi pi-circle-fill"></i>
      </button>
    </div>
    <div class="recorder-text">Stop recording.</div>
  </ng-container>
  <ng-container>
    <div class="spacer"></div>
    <div class="recorder-option">
      <button class="option-btn m-l-15" id="button" (click)="wwwUpload()">
        <i class="pi pi-upload"></i> www
      </button>
      <button class="option-btn m-l-15" id="button" (click)="wsUpload()">
        <i class="pi pi-upload"></i> WS
      </button>
    </div>
  </ng-container>
</div>
<p-card>
  <ng-container *ngIf="!resultASR.value">
    <p-message
      severity="info"
      text="Execution results are displayed here."
    ></p-message>
  </ng-container>

  <p><b>Language : </b>{{ resultASR.value.language || "..." }}</p>
  <p><b>Text : </b>{{ resultASR.value.text || "..." }}</p>
</p-card>
