<div class="p-fileUpload-all-in-one-wrap">
  <p-fileUpload
    name="audio_file"
    url="{{ fileUploadUrl }}"
    (onUpload)="onUpload($event, 'file')"
    (onError)="onErrorFileUpload()"
    [multiple]="false"
    accept="{{ acceptedFiles }}"
    [maxFileSize]="100971520"
    chooseLabel="File Select"
    [showUploadButton]="true"
    [showCancelButton]="false"
    [auto]="false"
    chooseIcon="pi pi-plus"
  >
    <ng-template pTemplate="content">
      <ul *ngIf="uploadedFiles?.length">
        <li *ngFor="let file of uploadedFiles">
          {{ file.name }} - {{ file.size }} bytes
        </li>
      </ul>
      <p *ngIf="!file.value" class="drag-text">
        Drag file to this area to upload.
      </p>
    </ng-template>
  </p-fileUpload>
</div>
<p-card *ngIf="file.value">
  <p><b>Language : </b>{{ file.value.language }}</p>
  <p><b>Text : </b>{{ file.value.text }}</p>
</p-card>
