<form class="form" [formGroup]="asrFormGroup">
  <div class="upload-wrapper">
    <div class="upload-input" [attr.data-text]="fileName">
      <input
        type="file"
        id="audio_file"
        name="audio_file"
        accept="audio/*"
        (change)="selectedFiles($event)"
      />
    </div>
    <div class="upload-btn">
      <p-button
        label="UPLOAD"
        styleClass="p-button-lg p-button-success m-l-5"
        (click)="submit()"
      ></p-button>
    </div>
  </div>
</form>
<p-card>
  <ng-container *ngIf="!resultASR.value">
    <p-message
      severity="info"
      text="Execution results are displayed here."
    ></p-message>
  </ng-container>

  <p><b>Language : </b>{{ resultASR.value.language || "..." }}</p>
  <p><b>Text : </b>{{ resultASR.value.text || "..." }}</p>
</p-card>
